.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerContainer img {
  height: 40px;
  margin: 10px 40px;
}

.headerCategories {
  display: flex;
  align-items: center;
}

.charactersHeader,
.comicsHeader {
  background-color: white;
  margin: 0 40px 0 0;
  font-size: 16px;
  font-weight: 700;
  width: 120px;
  text-align: center;
}
.comicsHeader {
  border: 0;
}

.charactersHeader {
  border: 0;
}
/* .charactersHeader {
  cursor: pointer;
}
.comicsHeader {
  cursor: pointer;
} */
